{{!-- The title below comes from the backend of the page that contains this partial--}}
<h1>{{title}}</h1>

<div>
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</div>